.btn{
   background-color:#064475;
   color: white;
   border: none;
   padding: 10px;
   margin-top: 50px;
   margin-left: 10px;
   font-size: 13px;
   font-family: 'poppins',sans-serif;
   display: inline-block ;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   cursor: pointer;}
.button{
   background-color:#064475;
   color: white;
   border: none;
   padding:10px;
   margin-top: 20px;
   margin-left: 10px;
   font-size: 13px;
   font-family: 'poppins',sans-serif;
   display: inline-block;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   cursor: pointer;}            
.btn:hover{
   color: rgb(255, 255, 255);
   border: 0.5px inset;
   border-color: #064475;
   background-color: #005ea3;}
.button:hover{
   color: rgb(255, 255, 255);
   border: 0.5px inset;
   border-color: #064475;
   background-color: #005ea3;} 


